<?xml version="1.0" encoding="UTF-8" ?>

<phpunit colors="true"
		 syntaxCheck="false"
		 stopOnFailure="true"
		 bootstrap="tests/bootstrap.php">
	<testsuites>
        <testsuite name="Lists test">
            <directory>./tests/Lists</directory>
        </testsuite>
        <testsuite name="Trees test">
            <directory>./tests/Trees</directory>
        </testsuite>
    </testsuites>
</phpunit>